<section>
  <h2>{{post.name}}</h2>
  <p>{{post.content}}</p>
  <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
  <ul style="list-style-type:none">
    {{#each comments as |comment|}}
    <li class="card p-3">
        <p>{{comment.content}}</p>
        <span>Commented by {{comment.user.username}} on {{format_date comment.date_created}}.</span>
    </li>  
    {{/each}}
  </ul>
  {{#if logged_in}}
    <button class="btn btn-primary">Add Comment</button>
  {{/if}}
</section>

